/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~antd/dist/antd.min.css";
@import '~react-virtualized/styles.css';

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

#root {
  height: 100vh;
}

li {
  list-style: none;
}

.drag-header {
  height: 40px;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
